/*index css*/

#logo-2 {
    display: none;
  }
  
  #des-text {
    display: none;
  }

 .object{
    height: 150px;
 } 

 #banner {
    height: 250px;
 }

 #footer {
    height: 300px;
 }

 /*services css*/

 .mobile{ 
    display: inline-flex;
 }

 .desktop {
    display: none;

 }


 .des-top-1{
    display: none;
 }
 
   /* ---Tablet Library Grid Styles--- */
  
   @media screen and (min-width: 768px) {

    /*index css*/
    #logo-1 {
        display: none;
      }

      #logo-2 {
        display: inline-block;

      }

      #banner {
        height: 350px;
     }
    
      #des-text {
        display: inline-block;
      }

      #phone-text {
        display: none;
      }

    .object{
        height: 200px;
     } 
    
     #hero {
        height: 300px;
     }

     #footer {
        height: 400px;
     }
   }
   

 /*services css*/

 .mobile {
    display: none;
 }
 
 .desktop {
    display: inline-block;
 }
 


 .des-top-1{
    display: none;
 }
 
 
 /* ---Desktop Library Grid Styles--- */
  
    @media screen and (min-width: 1200px) {

        /*index css*/

        #logo-1 {
            display: none;
          }

          #logo-2 {
            display: inline-block;
          }


          #banner {
            height: 450px;
         }


          #phone-text {
            display: none;
          }
        

          #des-text {
            display: inline-block;
          }
    



          .object{
            height: 350px;
         } 
        
       

         #footer {
            height: 500px;
         }
    }
 /*services css*/
 
 .mobile {
    display: none;
 }
 
 .desktop {
    display: inline-block;
 }


 
 .des-top-1{
    display: inline-block;
 }
 